<h2>Content Fountain</h2>

<div class="row">
  <div class="col">
    <div class="input-group mb-2">
      <button ng-click="insertCaption()" type="button" class="btn btn-primary">Insert Caption</button>
    </div>
    <div ng-repeat="collection in tagData" class="input-group mb-2">
      <button ng-click="insertTags(collection.category)" type="button" class="btn btn-primary">Insert tags for {{collection.category}}</button>
    </div>
  </div>
  <div class="col">
    <textarea placeholder="Enter caption" id="caption-output" class="form-control mb-2" rows="2">{{caption}}</textarea>
    <textarea id="tag-output-display" class="form-control mb-2" rows="3">{{tags}}</textarea>
    <textarea id="tag-output" style="position: absolute; top: -1000px" class="form-control mb-2" rows="3">•&#10;•&#10;•&#10;•&#10;•&#10;{{tags}}</textarea>
    <div class="input-group mb-2">
      <button type="button" class="btn btn-primary mr-2" data-clipboard-target="#caption-output">Copy Caption</button>
      <button type="button" class="btn btn-primary" data-clipboard-target="#tag-output">Copy Tags</button>
    </div>
  </div>
</div>

