<div class="input-group mb-4">
  <a href="#!/connect" class="btn btn-sm btn-outline-dark mr-2">Connect</a>
  <a href="#!/generate" class="btn btn-sm btn-dark mr-2">Generate</a>
  <a href="#!/fulfill" class="btn btn-sm btn-outline-dark mr-2">Fulfill</a>
  <a href="#!/engage" class="btn btn-sm btn-outline-dark mr-2">Engage</a>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h5 class="card-title">Pick your focal point</h5>
    <div class="input-group mb-2">
      <button
        ng-repeat="focalpoint in focalpoints"
        ng-click="selectFocalpoint(focalpoint)"
        ng-class="{
          'btn-dark': selectedFocalpoint == focalpoint,
          'btn-outline-dark': selectedFocalpoint != focalpoint
        }"
        class="btn mr-2 mb-2">
        {{focalpoint}}
      </button>
    </div>
    <h5 class="card-title">Pick your media type</h5>
    <div class="input-group mb-2">
      <button
        ng-repeat="mediaType in mediaTypes"
        ng-click="selectMediaType(mediaType)"
        ng-class="{
          'btn-dark': selectedMediaType == mediaType,
          'btn-outline-dark': selectedMediaType != mediaType
        }"
        class="btn mr-2 mb-2">
        {{mediaType}}
      </button>
    </div>
    <h5 class="card-title">Decide on your topic</h5>
    <div class="input-group mb-3">
      <input placeholder="What is your idea about?" ng-enter="insertIdea()" ng-model="relation" type="text" class="form-control">
      <div class="input-group-append">
        <button type="button" ng-click="insertIdea()" class="btn btn-outline-dark">Insert Idea</button>
      </div>
    </div>
    <h5 class="card-title">Choose Your Root Tags</h5>
    <div class="input-group mb-2">
      <button
        ng-repeat="collection in tagData"
        ng-click="toggleTopic(collection.rootTag)"
        ng-class="{
          'btn-dark': selectedRoots.indexOf(collection.rootTag) > -1,
          'btn-outline-dark': selectedRoots.indexOf(collection.rootTag) < 0
        }"
        class="btn mr-2 mb-2">
        #{{collection.rootTag}}
      </button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Finalized Content</h5>
        <textarea placeholder="Enter idea" id="idea-output" class="form-control mb-2" rows="2" ng-model="idea"></textarea>
        <textarea placeholder="Enter caption (optional)" id="caption-output" class="form-control mb-2" rows="2" ng-model="caption"></textarea>
        <p ng-show="tags.length > 0" class="card-text">{{tags}}</p>
        <h5 class="card-title">Tags</h5>
        <p ng-show="tags.length == 0" class="card-text">Select a topic...</p>
        <button type="button" ng-click="updateCopyMessage('copyCaptionStatus')" class="btn btn-outline-dark mr-2 mb-2" data-clipboard-target="#caption-output">{{copyCaptionStatus}}</button>
        <button type="button" ng-click="updateCopyMessage('copyTagsStatus')" class="btn btn-outline-dark mr-2 mb-2" data-clipboard-target="#tag-output">{{copyTagsStatus}}</button>
        <button ng-click="saveToTrello()" type="button" class="btn btn-outline-dark mr-2 mb-2">{{trelloSaveStatus}}</button>
        <button ng-click="clearIdea()" type="button" class="btn btn-outline-dark mr-2 mb-2">Clear</button>
        <table ng-show="contentQueue.length > 0" class="table mt-2">
          <thead>
            <tr>
              <th scope="col">In Queue</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in contentQueue">
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="input-group mb-2">
      <button ng-click="loadTagData()" type="button" class="btn btn-sm btn-outline-dark mr-2">{{tagLoadStatus}}</button>
      <button ng-class="{'btn-dark': showConnections, 'btn-outline-dark': !showConnections}" ng-click="showConnections = !showConnections" type="button" class="btn btn-sm  mr-2">Edit Connections</button>
      <button ng-click="copyConnections()" type="button" class="btn btn-sm btn-outline-dark mr-2">{{copyConnectionsStatus}}</button>
      <button ng-class="{'btn-dark': showImport, 'btn-outline-dark': !showImport}" ng-click="showImport = !showImport" type="button" class="btn btn-sm btn-outline-dark">Import Connections</button>
    </div>
  </div>
  <div ng-show="showImport" class="col-md-12">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Connection Code</span>
      </div>
      <input ng-change="save('boardUrl', connections.boardUrl); updateListId();" placeholder="Enter Connection Code" ng-model="connectionCode" type="text" class="form-control">
      <div class="input-group-append">
        <button type="button" ng-click="importConnections(connectionCode)" class="btn btn-outline-dark">Load Connections</button>
      </div>
    </div>
  </div>
  <div ng-show="showConnections" class="col-md-12">

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Google API Token</span>
      </div>
      <input ng-change="save('googleApiToken', connections.googleApiToken)" placeholder="Enter Token" ng-model="connections.googleApiToken" type="text" class="form-control">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Google Sheet URL</span>
      </div>
      <input ng-change="save('sheetUrl', connections.sheetUrl)" placeholder="Enter Sheet URL" ng-model="connections.sheetUrl" type="text" class="form-control">
      <div class="input-group-append">
        <button type="button" ng-click="open(connections.sheetUrl)" class="btn btn-outline-dark">Open Sheet</button>
      </div>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Trello API Key</span>
      </div>
      <input ng-change="save('trelloApiKey', connections.trelloApi); updateListId();" placeholder="Enter API Key" ng-model="connections.trelloApiKey" type="text" class="form-control">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Trello OAuth Token</span>
      </div>
      <input ng-change="save('trelloOauthToken', connections.trelloOauthToken); updateListId();" placeholder="Enter OAuth Token" ng-model="connections.trelloOauthToken" type="text" class="form-control">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Trello Board</span>
      </div>
      <input ng-change="save('boardUrl', connections.boardUrl); updateListId();" placeholder="Enter Board URL" ng-model="connections.boardUrl" type="text" class="form-control">
      <div class="input-group-append">
        <button type="button" ng-click="open(connections.boardUrl)" class="btn btn-outline-dark">Open Board</button>
      </div>
    </div>
  </div>
</div>


<textarea id="tag-output" style="position: absolute; top: -1000px" class="form-control mb-2" rows="3">•&#10;•&#10;•&#10;•&#10;•&#10;{{tags}}</textarea>
