<div class="input-group mb-4">
  <a href="#!/connect" class="btn btn-sm btn-outline-dark mr-2">Connect</a>
  <a href="#!/generate" class="btn btn-sm btn-outline-dark mr-2">Generate</a>
  <a href="#!/fulfill" class="btn btn-sm btn-dark mr-2">Fulfill</a>
  <a href="#!/engage" class="btn btn-sm btn-outline-dark mr-2">Engage</a>
</div>

<ul class="list-group">
  <li ng-repeat="item in contentQueue" class="list-group-item">
    <div class="row">
      <div class="col">
        <a target="_blank" href="{{item.url}}" class="h3">{{item.name}}</a>
      </div>
      <div class="col text-right">
        <button class="btn btn-outline-success mb-2 mr-2">Complete</button>
        <button class="btn btn-outline-dark mb-2 mr-2">Copy Caption</button>
        <button class="btn btn-outline-dark mb-2 mr-2">Copy Tags</button>
        <button class="btn btn-outline-danger mb-2 mr-2">Remove</button>
      </div>
    </div>
  </li>
</ul>
