<div class="input-group mb-4">
  <a href="#!/connect" class="btn btn-sm btn-outline-dark mr-2">Connect</a>
  <a href="#!/generate" class="btn btn-sm btn-outline-dark mr-2">Generate</a>
  <a href="#!/fulfill" class="btn btn-sm btn-dark mr-2">Fulfill</a>
  <a href="#!/engage" class="btn btn-sm btn-outline-dark mr-2">Engage</a>
</div>

<h4 class="mb-2">Finalized</h4>
<ul class="list-group mb-2">
  <li ng-repeat="idea in finalizedIdeas" class="list-group-item">
    <div class="row">
      <div class="col">
        <button ng-click="complete(idea)" class="btn btn-outline-success mb-2 mr-2">Complete</button>
        <button ng-click="copyCaption(idea)" class="btn btn-outline-dark mb-2 mr-2">Copy Caption</button>
        <button ng-click="copyTags(idea)" class="btn btn-outline-dark mb-2 mr-2">Copy Tags</button>
        <button ng-click="remove(idea)" class="btn btn-outline-danger mb-2 mr-2">Remove</button>
        <a target="_blank" href="{{idea.url}}" class="h5">{{idea.name}}</a>
      </div>
    </div>
  </li>
</ul>
<h4 class="mb-2">Queued</h4>
<ul class="list-group">
  <li ng-repeat="idea in queuedIdeas" class="list-group-item">
    <div class="row">
      <div class="col">
        <button ng-click="finalize(idea)" class="btn btn-outline-success mb-2 mr-2">Finalize</button>
        <button ng-click="copyCaption(idea)" class="btn btn-outline-dark mb-2 mr-2">Copy Caption</button>
        <button ng-click="copyTags(idea)" class="btn btn-outline-dark mb-2 mr-2">Copy Tags</button>
        <button ng-click="remove(idea)" class="btn btn-outline-danger mb-2 mr-2">Remove</button>
        <a target="_blank" href="{{idea.url}}" class="h5">{{idea.name}}</a>
      </div>
    </div>
  </li>
</ul>
